@font-face {
  font-family: "Istok Web";
  src: local("Istok Web"),
    url("./fonts/Istok_Web/IstokWeb-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Istok Web";
  src: local("Istok Web Bold"),
    url("./fonts/Istok_Web/IstokWeb-Bold.ttf") format("truetype");
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
}

& .slick-list {
  margin: 0 -7px;
  & .slick-slide > div {
    padding: 0 15px;
  }
}
